# Default ignored files
/shelf/
/workspace.xml

### IntelliJ IDEA ###
/.idea/misc.xml
/.idea/modules.xml
/.idea/OpenBootCampGit.iml
/.idea/vcs.xml
/.idea/workspace.xml
!**/src/main/**/out/
!**/src/test/**/out/